@import "styles/overlay.scss";

$list-background-color: #fbfcff;
$primary-color: #274156;
$secondary-color: #a099a0;
$tertiary-color: #605856;

.select-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  position: relative;
  width: 100%;
  z-index: 110;

  & &__label {
    color: $secondary-color;
    transition: 0.2s ease-out;
  }

  & &__control {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    margin-top: 2px;
    position: relative;
    width: 100%;

    &--readonly {
      color: $secondary-color;
    }

    &:focus {
      outline: none;
    }
  }

  & &__arrow {
    border: solid $secondary-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 3px;
    top: 1.75rem;
    transform: rotate(45deg);
    transition: 0.2s ease-out;
    width: 0;
  }

  & &__counter,
  & &__readonly {
    color: $secondary-color;
    font-size: 0.8rem;
    height: 0.8rem;
    text-align: right;
    width: 100%;
  }

  &--active {
    .select-box__label {
      color: $tertiary-color;
    }

    .select-box__arrow {
      border-color: $primary-color;
      transform: rotate(225deg);
    }

    .underline__fill {
      transform: scaleX(1) !important;
      transition: 0.2s ease-out;
    }

    .list {
      max-height: 15rem;
    }
  }
}

.underline {
  background-color: $secondary-color;
  display: block;
  height: 2px;
  width: 100%;

  & &__fill {
    background-color: $primary-color;
    height: 100%;
    transform: scaleX(0);
    width: 100%;
  }
}

.list-wrapper {
  position: relative;
}

.list {
  background-color: $list-background-color;
  border: 1px solid $secondary-color;
  border-top: 0;
  max-height: 0;
  left: 0;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  transition: 0.2s ease-out;

  & &__option {
    padding: 5px;

    &--highlighted {
      background-color: $primary-color;
      color: $list-background-color;
    }
  }
}
