<div class="content-container">
  <form [formGroup]="form">
    <lib-input
      type="text"
      label="Login"
      formControlName="login"
      [maxlength]="20"
      [displayMaxLength]="true"
    >
    </lib-input>
    <lib-input type="password" label="Password" formControlName="password">
    </lib-input>
    <lib-input
      type="text"
      [readonly]="true"
      formControlName="testInput"
      [maxlength]="30"
      [displayMaxLength]="true"
      label="readonly"
    ></lib-input>
    <button (click)="debug()" class="btn">Submit</button>
  </form>
</div>
